{% extends 'base.html.twig' %}

{% block title %}Tasks{% endblock %}

{% block body %}
    <div>
        <a href="{{ path('app_users') }}">Customers</a>
        <h1>Tasks</h1>
        <a href="{{ path('app_tasks_new', {userSlug: userSlug}) }}">Add tasks</a>
    </div>
    <div>
        <p{% if tasks.isSorted('tasks.id') %} class="sorted" {% endif %}>
            Sort by {{ knp_pagination_sortable(tasks, 'Id', 'tasks.id') }}
        </p>
        <p{% if tasks.isSorted('tasks.title') %} class="sorted" {% endif %}>
            Sort by {{ knp_pagination_sortable(tasks, 'Title', 'tasks.title') }}
        </p>
    </div>
    {% for task in tasks %}
        <div data-controller="task">
            <h2 data-action="click->task#toggle">{{ task.title }}</h2>    
            <p data-task-target="description" style="overflow: hidden;">{{ task.description|nl2br }}</p>
        </div>
        <a href="{{ path('app_tasks_edit', {userSlug: userSlug, slug: task.slug}) }}">Edit</a>
        <a href="{{ path('app_tasks_delete', {userSlug: userSlug, slug: task.slug}) }}" onclick="return confirm('Are you sure to delete -{{ task.title }}- ?')" >Delete</a>
    {% else %}
        <p>You have no task... Create One !</p>
    {% endfor %}
        <div class="navigation">
            {{ knp_pagination_render(tasks) }}
        </div>
{% endblock %}
