{% extends 'base.html.twig' %}

{% block title %}Tasks{% endblock %}

{% block body %}

<div>
    <a href="{{ path('app_users') }}">Customers</a>
    <h1>Tasks</h1>
    <a href="{{ path('app_tasks_new', {user_slug: user_slug}) }}">Add tasks</a>
</div>

<div>
    <p{% if tasks.isSorted('tasks.id') %} class="sorted" {% endif %}>
        Sort by {{ knp_pagination_sortable(tasks, 'Id', 'tasks.id') }}
    </p>
    
    <p{% if tasks.isSorted('tasks.title') %} class="sorted" {% endif %}>
        Sort by {{ knp_pagination_sortable(tasks, 'Title', 'tasks.title') }}
    </p>
</div>

{% for task in tasks %}
<div>
    <h2>{{ task.title }}</h2>    
    <p>{{ task.description|nl2br }}</p> 
    <a href="{{ path('app_tasks_edit', {user_slug: user_slug, slug: task.slug}) }}">Edit</a>
    <a href="{{ path('app_tasks_delete', {user_slug: user_slug, slug: task.slug}) }}" onclick="return confirm('Are you sure to delete -{{ task.title }}- ?')" >Delete</a>
</div>
{% else %}
    <p>You have no task... Create One !</p>
{% endfor %}
<div class="navigation">
    {{ knp_pagination_render(tasks) }}
</div>
{% endblock %}
